---
import Layout from '../layouts/Layout.astro';
---

<Layout title="BACO">
	<main>
		<img class="w-full h-full object-cover" src="../img/Imagen-principal-1.jpeg" alt="Imagen principal">
	</main>
</Layout>

<style>
@media (max-width: 768px) {
img {
    height: 100vh;
    }
}
</style>
