---
import Layout from '../layouts/Layout.astro';
import ListaDeObras from '../components/ListaDeObras.astro';
import { Image } from 'astro:assets';
---


<Layout title="BACO">
	<main class="m-auto max-w-6xl px-5 py-3">
		<ListaDeObras />
	</main>	
</Layout>
