---
import Layout from '../layouts/Layout.astro';
---

<Layout title="BACO">
	<main class="m-auto max-w-6xl">
        <h1 class="pt-5 text-3xl tracking-tight font-extrabold text-center text-gray-900 dark:text-black">BOLETÍN DE PRENSA No. 36 de 2009</h1>
		<h2 class="mb-4 text-2xl tracking-tight font-extrabold text-center text-gray-900 dark:text-black">Bogotá, Octubre de 2009</h2>
		<h1 class="mb-4 text-3xl tracking-tight font-extrabold text-center text-gray-900 dark:text-black">HISTÓRICO CUADRO DONAN A CORMAGDALENA A LA TERMINAL DE PASAJEROS YUMA EN BARRANCABERMEJA.</h1>
		<div class="flex justify-center items-center ">
			<img class="m-2 px-4" src="../img/DESEMBARCO EN EL `56.jpg" alt="Obra DESEMBARCO EN EL '56" class="max-w-full max-h-full">
		</div>
		<h2 class="pl-5 mb-4 text-2xl tracking-tight font-extrabold text-gray-900 dark:text-black">EL PICTÓRICO CUADRO HACE REFERENCIA AL PRIMER ATRAQUE DE UNA EMBARCACIÓN A VAPOR EN 1956</h2>
		<p class="pl-5 mb-4  mt-4 text-xl tracking-tight text-gray-900 dark:text-black">La Terminal  Fluvial de Pasajeros “YUMA”, de La Corporación Autónoma Regional del Río Magdalena, CORMAGDALENA, ubicada en el Puerto Petrolero de Barrancabermeja, en el Departamento de Santander,  fue ilustrada con  una obra al Oleo de 200 x 170 cms que donó el Artista Barranqueño, El Maestro Oscar Bautista.
			La pintura hace referencia al atraque por primera vez de una embarcación a vapor en el año de 1956 en las riberas de la vía fluvial del Magdalena Medio hoy Muelle de Barrancabermeja, para efectuar el embarque y desembarque de personas, al igual que de cargas en uno de sus puertos, titulada “DESEMBARCO EN EL 56”, plasmada en lienzo.
			El cuadro pictórico, se encuentra exhibido en la entrada principal de la Terminal donde los usuarios de este medio de transporte la observan remembrando antiguos recuerdos de la importancia que hoy en día tiene el primer afluente de Colombia como lo es el Río Magdalena.</p>
		<p class="pl-5 mb-4  mt-4 text-xl tracking-tight text-gray-900 dark:text-black">El Administrador del Muelle Yuma, Jorge Alberto Cortes Pedroza, hace un llamado a los amante del arte e invita a la comunidad para que en su tiempo libre se acerquen y aprecien esta magnífica e importante obra.</p>
		<p class="pl-5 text-2xl tracking-tight text-gray-900 dark:text-black">Prensa y Comunicaciones.</p>
		<p class="pl-5 text-2xl tracking-tight text-gray-900 dark:text-black">Cormagdalena.</p>
		<p class="pl-5  text-2xl tracking-tight text-gray-900 dark:text-black">Carlos Franco Vega.</p>
		</main>
	</Layout>