---
import Layout from '../layouts/Layout.astro';
---

<Layout title="BACO">
    <main class="m-auto max-w-6xl">
        <div class="mt-4 mb-4 gap-3 px-4">
            <div class="flex justify-center mt-4 mb-4">
                <img src="../img/foto-sobre-mi (1).jpg" alt="">
            </div>
        <div>
            <p class="text-xl mb-3">¡Hola! Soy un pintor originario de Barrancabermeja, Colombia. Mi estilo artístico se encuentra enraizado en el arte figurativo, explorando en cada obra una identidad artística única. A lo largo de mi carrera, he abordado una amplia gama de temáticas, desde el costumbrismo hasta la vida cotidiana y los temas sociales, todo ello reflejado en ediciones seriadas que muestran la diversidad de mi obra. Aquí te dejo un vistazo a algunas de mis exposiciones y logros destacados:
            </p>
            <h2 class="text-xl font-bold mb-3">Exposiciones:</h2>
            <div class="ml-8">
                <ul class="text-xl list-disc mb-3">
                    <li>2010: Ribera Bermeja. Terminal fluvial Yuma, Barrancabermeja, Colombia</li>
                    <li>2011: Queens. Centro comercial IWANÁ, Barrancabermeja, Colombia</li>
                    <li>2014: Salas abiertas. Cámara de comercio de Bucaramanga, Bucaramanga, Colombia</li>
                    <li>2019: Hibrida. Corporación artística y cultural TOTEM, Bucaramanga, Colombia</li>
                    <li>2020: Exposición virtual Arte en cuarentena. Revista digital Arte y Conexión</li>
                    <li>2021: Enmienda el planeta. Espacio Cinco 33, Bogotá, Colombia</li>
                    <li>2022: 5to Salón de arte figurativo y representacional OPUS, Melaká Art Gallery, Bogotá, Colombia</li>
                    <li>2023: Open Studio, Casa gris, Bogotá, Colombia</li>
                </ul>
            </div>
        <h2 class="text-xl font-bold ">Premios:</h2>
        <div class="ml-8 mb-3">
            <ul class="text-xl list-disc">
                <li>2010: Primer premio. Categoría Artes Plásticas, convocatoria estampilla pro Cultura, Alcaldía de Barrancabermeja, UNIPAZ, Concejo Municipal de cultura.</li>
                <li>2021: Primer puesto. Concurso Nacional, Ministerio de Cultura, 170 años de la abolición de la esclavitud en Colombia</li>
            </ul>
        </div>
        <p class="text-xl">Mi enfoque artístico se ha desarrollado a lo largo de los años, encontrando inspiración en mi entorno y en las experiencias vividas. Desde el colorido paisaje de mi ciudad natal hasta las complejidades sociales que nos rodean, mi obra busca reflejar una visión única y personal del mundo que me rodea. ¡Espero que disfrutes explorando mi trabajo tanto como yo disfruto creándolo!</p>
    </div>
</div>
</main>
</Layout>
