---
import Layout from '../layouts/Layout.astro';
---
<Layout title="BACO">
        <main class="m-auto max-w-6xl px-5 py-3">
                        <h1 class="text-3xl tracking-tight font-extrabold text-center text-gray-900 dark:text-black mt-5">Pintura al óleo para principiantes</h1>
                        <div class="flex justify-center mt-4 mb-4">
                                <img class="w-full" src="../img/foto-talleres.jpg" alt="foto taller">
                        </div>
                        <p class="text-xl">Adéntrate en las innumerables posibilidades que ofrece la pintura al óleo, un medio que ha cautivado a grandes maestros a lo largo de la historia del arte. 
                                Esta técnica destaca por su facilidad de uso y su versatilidad para plasmar el entorno. 
                                ¿Listo para sumergirte en esta forma de arte de clase mundial?</p>
                        <p class="text-xl mb-3">En este taller, explorarás las múltiples facetas de las técnicas de pintura más adaptables y crearás una obra completa de principio a fin.</p>
                        <h1 class="text-xl font-bold">¿Qué aprenderás en este taller?</h1>
                        <p class="text-xl mb-3">En esta emocionante experiencia de aprendizaje, te sumergirás en el fascinante mundo del arte y la pintura, adquiriendo conocimientos y habilidades que te permitirán 
                                explorar tu creatividad y expresión personal.</p>
                        <h1 class="text-xl font-bold">¿Cuál es el proyecto de este taller?</h1>
                        <p class="text-xl mb-3">Durante el taller, te guiaré a través de un proyecto práctico paso a paso. Aprenderás a planificar, desarrollar y completar una obra de arte utilizando la técnica que 
                                estamos explorando. Desde la preparación del lienzo hasta los toques finales, te enseñaré cómo llevar tu visión artística a la vida.</p>
                        <h1 class="text-xl font-bold">¿Para quién es este taller?</h1>
                        <p class="text-xl mb-3">Este taller está diseñado para personas de todos los niveles de habilidad, desde aquellos que nunca han tomado un pincel hasta artistas intermedios que desean mejorar 
                                sus habilidades. Si tienes pasión por el arte y el deseo de aprender, ¡este taller es para ti!</p>
                        <h1 class="text-xl font-bold">Requisitos y materiales</h1>
                        <p class="text-xl mb-3">No necesitas experiencia previa en pintura para participar en este taller, solo una mente abierta y la disposición para sumergirte en el proceso creativo. 
                                Te proporcionaré una lista detallada de los materiales necesarios para el taller, desde pinturas y pinceles hasta el lienzo y los solventes. Además, 
                                estaré disponible para responder cualquier pregunta y ofrecerte orientación sobre cómo obtener los materiales adecuados para tu experiencia de aprendizaje óptima. 
                                ¡Estoy emocionado de embarcarme en este viaje artístico contigo!</p>
                </main>
</Layout>

