<footer class="bg-white shadow-sm">
    <div class="flex justify-center w-full mx-auto max-w-screen-xl p-4">
      <span class="text-sm text-black sm:text-center">© 2024 <a href="https://github.com/smnopa" class="hover:underline">Samuel B.™</a>. All Rights Reserved.
    </span>
    </div>
</footer>
