<nav class="flex justify-between md:justify-around items-center text-black bg-red-50 border border-red-500">
    <a  class="border border-red-500" href="/"><img src="/public/img/logo.png" class="w-[182px]" alt="Logo" /></a>
    <ul class="inline-flex gap-4 border border-red-500">
      <li><a href="/sobremi" class="text-lg font-bold  hover:text-[#FF5C00] border border-red-500">Sobre mí</a></li>
      <li><a href="/obra" class="text-lg font-bold  hover:text-[#FF5C00] border border-red-500">Obras</a></li>
      <li><a href="/talleres" class="text-lg font-bold hover:text-[#FF5C00] border border-red-500">Talleres</a></li>
      <li><a href="/prensa" class="text-lg font-bold hover:text-[#FF5C00] border border-red-500">Prensa</a></li>
      <li><a href="/contacto" class="text-lg font-bold hover:text-[#FF5C00] border border-red-500">Contacto</a></li>
    </ul>
  </nav>